<div class="card" style="width: 18rem;">
  <img src="https://i.ibb.co/nzfs5cm/lego-cars.png" class="card-img-top" [alt]="info">
  <div class="card-body">
    <p class="card-text">{{info}}Some quick example text the card's content</p>
  </div>
</div>


<!-- <div class="card" style="width: 18rem;" >
  <img src="..." class="card-img-top" [alt]="info.budget">
  <div class="card-body">
    <h5 class="card-title">{{info.budget}}Card title</h5>
    <p class="card-text">Some quick example text the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div> -->



<!-- <div class="card" style="width: 18rem;" >
    <img src="..." class="card-img-top" [alt]="info.id">
    <div class="card-body" *ngFor="let movie of movieList">
      <h5 class="card-title">{{info.id}}Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div> -->
